.playground {
  display: flex;
  /* height: 100vh; */
  max-width: 1200px;
  /* background-color: #f0f0f0; */

  .main-nav {
    max-width: 300px;
  }

  .view {
    flex: 1;
    border-radius: 12px;
    border: 2px solid #ccc;
    padding: 2em;
  }
}