.playground {
  display: flex;
  /* height: 100vh; */
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;

  .main-nav {
    width: 300px;
  }

  .view {
    flex: 1;
    border-radius: 12px;
    border: 2px solid #ccc;
    padding: 2em;
  }
}